body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(green, white);
    height: 1000px;
    background-repeat: no-repeat;
}

.menu-icon {
    position: fixed;
    top: 100px;
    right: 20px;
    width: 50px;
    height: 44px;
    padding: 4px 8px;
    background: url("../images/hkbk.PNG");
    box-sizing: border-box;
    cursor: pointer;
}

.menu-icon span {
    width: 100%;
    height: 4px;
    display: block;
    background: #fff;
    margin: 6px 0;
    transition: .5s;
}

.sidebar {
    position: fixed;
    top: 205px;
    left: -200px;
    width: 200px;
    height: 37vh;
    background: url("../images/hkbk.PNG");
    transition: .5s;
    text-align: center;
    box-sizing: border-box;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-repeat: repeat;
    opacity: 0.7;
}

.sidebar.active {
    left: 20px;
}

.sidebar .menu {
    margin: 0;
    padding: 40px 0;
}

.sidebar .menu li {
    list-style: none;
    font-family: sans-serif;
}

.sidebar .menu li a {
    display: block;
    padding: 10px 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sidebar .menu li a:hover {
    background: #fc2827;
    color: #fff;
}

.menu-icon.active span {
    position: absolute;
    width: calc(100% - 16px);
    top: calc(50% - 8px);
}

.menu-icon.active span:nth-child(1) {
    transform: rotate(45deg);
}

.menu-icon.active span:nth-child(3) {
    transform: rotate(-45deg);
}

.menu-icon.active span:nth-child(2) {
    display: none;
}

.social-icon {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: flex;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.social-icon li {
    width: 20%;
    text-align: center;
    list-style: none;
}

.social-icon li a {
    display: block;
    font-size: 18px;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: .5s;
}

.social-icon li a:hover {
    background: #fc2827;
}

.header-background {
    background: url("../images/new.png");
    height: 198px;
    width: 100%;
    background-size: cover;
}

.container1 {
    position: absolute;
    top: 300px;
    left: 400px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.5;
    border: 2px dotted black;
    padding: 6px;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: 125%;
}

.container1:hover {
    opacity: 1;
}

.container2 {
    position: absolute;
    top: 300px;
    left: 800px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.5;
    border: 2px dotted black;
    padding: 6px;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: 125%;
}

.container2:hover {
    opacity: 1;
}

.container3 {
    position: absolute;
    top: 300px;
    left: 1200px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.5;
    border: 2px dotted black;
    padding: 6px;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: 125%;
}

.container3:hover {
    opacity: 1;
}

.container4 {
    position: absolute;
    top: 602px;
    left: 600px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.5;
    border: 2px dotted black;
    padding: 6px;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: 125%;
}

.container4:hover {
    opacity: 1;
}

.container5 {
    position: absolute;
    top: 602px;
    left: 1000px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.5;
    border: 2px dotted black;
    padding: 6px;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: 125%;
}

.container5:hover {
    opacity: 1;
}

.img1 {
    position: absolute;
    border-radius: 2px;
    box-shadow: 0 0 5px #343436;
    filter: brightness(1.1);
    height: 150px;
    width: 200px;
    right: 10px;
}

.img1:target {
    height: 450px;
    width: 500px;
}

.img1:target+.close {
    display: block;
}

.img1:target+.close+.expand {
    display: none;
}

.close {
    background-image: url(https://bit.ly/29QeT21);
    background-repeat: no-repeat;
    display: none;
    height: 32px;
    right: 20px;
    margin-top: -32px;
    position: absolute;
    width: 32px;
    bottom: 715px;
}

.expand {
    bottom: 740px;
    margin-left: -32px;
    margin-right: 16px;
    pointer-events: none;
    position: absolute;
    right: 5px;
}

#wrapper {
    margin: auto;
    padding: 10px;
    right: 0px;
    width: 500px;
}

footer {
    display: flex;
    color: black;
    bottom: 0px;
    position: absolute;
    text-align: center;
    justify-content: center;
    left: 900px;
}